@font-face {
    font-family: "MervaleScript-Regular";
    src: local("MervaleScript-Regular"),
     url("../../fonts/MervaleScript-Regular.ttf") format("truetype");
    font-weight: bold;
}
  
.font-face-gm {
    font-family: "MervaleScript-Regular";
}
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    position: sticky;
    width: 100%;
    padding: 0 0;
    height: 50px;
    background-color: #00a3e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //overflow-x: hidden;
}

.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-doubloons {
    padding-left: 40px;
    padding-right: 60px;
    line-height: normal;
    font-size: 30px;
    color: #ffffff;
    font-family: "MervaleScript-Regular";
}

.nav-link {
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
    white-space: nowrap;
    font-weight: 600;
}

.nav-link-active {
    border-bottom: #fff 2px solid;
}

a {
    text-decoration: none;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-logout {
    padding-right: 5px;
    text-decoration: none;
    color: #ffffff;
    white-space: nowrap;
}
.logout-icon {
    padding-left: 25px;
    color: #fff;
}


  