.team-member-container {
    width: 20%;
    min-width: 280px;
    height: 570px;
    background-color: rgba(0, 163, 224, 0.17);
    box-shadow: 0 1px 2px black;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 5px;
}

.user-avatar {
    display: block;
    width: 40%;
    margin: 15px auto 0;
}

.team-member-container h1 {
    display: block;
    margin: 5px auto 4px auto;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.team-member-container h2 {
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
    text-align: center;
}

.points-container{
    padding: 20px;
}

.btn{
    margin-top: 18px;
    margin-bottom: 20px;
    height: 35px;
    width: 180px;
    border-radius: 19px;
    background-color: rgba(0, 163, 224, 0.57);
    box-shadow: 0 1px 2px rgba(0, 164, 224, 0.712);
    box-sizing: border-box;
    text-align: center;
    border: none;
}

.btn p{
    text-transform: uppercase;
    font-weight: 700;
}

.button p{
    text-align: center;
}

.shortcuts{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 12%;
    row-gap: 29px;
    margin-top: 15px;
    margin-bottom: 14px;
}

.group-names{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 50%;
    justify-content: space-around;
}

.p-m-column{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 23%;
    justify-content: space-around;
}

.plus-minus{
    
    border-radius: 5px;
    box-sizing: border-box;
}
.group-names p{
    font-weight: 500;
    text-align: left;
}

.shortcuts p{
    height: 25px;
    width: 25px;
    font-weight: 500;
}

.rotate{
    rotate: 45deg;
    border-radius: 3px;
}

.rotate p{
    rotate: -45deg;
}


.red{
    background-color: #E04416;
} 

.blue{
    background-color: #0BE0A5;
}

.yellow{
    background-color: #E0AC16;
}

.purple{
    background-color: #D078E8;
}

.orange{
    background-color: #FF7200;
}

.doubloon-ul {
    width: 100%;
    list-style: none;
    display: block;
}

.doubloon-li {
    margin-bottom: 20px;
}

.category-display {
    display: inline-block;
    width: 70%;
    text-align: left;
}

.category-logo {
    display: inline-block;
    text-align: left;
    width: 15%;
    margin-right: 15px;
    text-transform: capitalize;
}

.category-name {
    display: inline-block;
    text-align: left;
    text-transform: capitalize;
}

.points-adder {
    display: inline-block;
}

.btn-open-comment-popup {
    text-transform: uppercase;
    font-weight: 600;
    transition: ease-in-out .2s;
}

.btn-open-comment-popup:hover {
    cursor: pointer;
    color: #fff;
    background-color: #B1BA1D;
    box-shadow: 0 1px 2px #B1BA1D;
}

.btn-open-comment-popup:disabled {
    background-color: #aaa;
    cursor: default;
    color: #666;
    box-shadow: 0 1px 2px #aaa;
}