.collaboration {
    background-color: #E04416;
}

.trust {
    background-color: #0BE0A5;
}

.autonomy {
    background-color: #E0AC16;
}

.learn-fast {
    background-color: #D078E8;
}

.craftsmanship {
    background-color: #FF7200;
}